<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <title>LOLMAIN</title>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <nav class="opggmain">
        <div class="opggmain__logo">
            <img id="opgglogoimg2" alt="opgg logo"  src="https://opgg-static.akamaized.net/images/gnb/svg/00-opgglogo.svg">
            

        </div>

        <ul class="opgg__menu">
            <li><a href="">챔피언 분석</a></li>
            <li><a href="">챔피언 별 승률</a></li>
            <li><a href="">준범이팀</a></li>
            <li><a href="">아이디어</a></li>
            <li><a href="">맛있누</a></li>
            <li><a href="">*^V^*</a></li>
        </ul>

        <div class="opgg__links">

        </div>

    </nav>

    <div class="main2">

        <img id="logo" alt="mainlogo" src="https://opgg-static.akamaized.net/logo/20210726052915.834dd40cd67d4efaabd7aaf6d15ad64a.png">
        
        <div class="scbutton" style="text-align: center;">
            <input type="text" id="searchid" style="padding: 15px 180px 18px 15px;" placeholder="소환사명…">
            <button class="search">검색</button>
        </div> 
    
    </div>   
        
     
</body>
</html>